
/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: sans-serif;
}

/*---------------------------------------------*/
a {
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #57b846;
}

.fa-check-square:before {
  color: green;
}

.fa-exclamation-circle{
  color: yellow;
  margin:auto;
  width:100%;
}

.fa-exclamation-triangle{
  color:red;

}

.title{
  text-align: center;
  font-weight: bold;
  font-size: 5em;
}

.title-small {
  text-align: center;
  font-weight: bold;
  font-size: 3em;
}

.message{
  text-align: center;
  font-size: 2.5em;
}

.graph {
  width: auto;
  text-align: center;
}

.stat {
  float:left;
  padding: 20px;
}

.ital {
  font-size: 1.5em;
  color:#999999;
}
/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-size: 14px;
	line-height: 1.7;
	color: black;
	margin: 0px;
}



/*---------------------------------------------*/


textarea {
  outline: none;
  border: none;
}

textarea:focus {
  border-color: transparent !important;
}


/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.header {
  text-align: center;
  padding: 32px;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}